footer {
  width: 100%;
  background: $slate;
  color: $clear;
  height: 300px;
  margin-top: 24px;

  .container {
    padding: 18px 0px;
    max-width: 60%;
    margin: 0 auto;

    ul {
      li {
        list-style: none;
        padding: 4px 0px;
      }
    }
  }
}