.ag-header {
  background: $slate !important;
  color: $clear !important;
  font-family: $normal !important;
  font-size: 12px !important;
}

.ag-row {
  font-family: $normal !important;
  font-size: 12px !important;
}