@import url(https://fonts.googleapis.com/css?family=Lato|Kaushan+Script|Monoton|Marcellus);


$heading: 'Marcellus', serif;
$normal: 'Lato', sans-serif;
$fancy: 'Monoton', cursive;
$fancy_small: 'Kaushan Script', cursive;