@import '../helpers/colors';
@import '../helpers/fonts';

@mixin button($primary, $secondary) {
  border: 2px solid $primary;
  background: $secondary;
  color: $primary;
  padding: 8px;
  font-family: $normal;
  font-size: 15px;
  font-weight: bold;

  &:hover {
    background: $primary;
    color: $secondary;
    cursor: pointer;
  }
}

@mixin button_no_outline($primary, $secondary) {
  border: none;
  background: none;
  color: $primary;
  padding: 8px;
  font-family: $normal;
  font-size: 15px;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

.button_disabled {
  border: 2px solid $disabled;
  background: $disabled;
  color: $clear;
  padding: 8px;
}

.button_active {
  @include button($active, $clear);
}

.button_warning {
  @include button($warning, $clear);
}

.button_no_outline_active {
  @include button_no_outline($active, $clear)
}